.header {
  background-color: var(--element-color);
  box-shadow: 0 5px 10px -5px var(--box-shadow-color),
    0 -1px 10px -5px var(--box-shadow-color);
}
.header_content {
  color: var(--text-color);
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  padding: 0rem 2rem;
  justify-content: space-between;
  align-items: center;
}

.dark_icon {
  height: 14px;
  width: 14px;
  margin-right: 7px;
  color: var(--text-color);
}

.dark_text {
  font-size: 14px;
  color: var(--text-color);
}

.dark {
}

.dark_button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
}
