<header class="header">
  <div class="header_content">
    <h2>Where in the world?</h2>

    <div class="dark">
      <button (click)="toggleTheme()" class="dark_button">
        <svg
          class="dark_icon"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
          ></path>
        </svg>
        <p class="dark_text">Dark Mode</p>
      </button>
    </div>
  </div>
</header>
