.grid {
  padding: 2rem;
}

@media screen and (min-width: 42rem) {
  .grid {
    display: grid;
    grid-gap: 4rem;
    gap: 4rem;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 280px);
    justify-content: center;
    padding: 0;
  }
}
