.back-button {
  display: inline-flex;
  color: var(--text-color);
  text-decoration: none;
  background-color: var(--element-color);
  padding: 0.5rem 2rem;
  align-items: center;
  border-radius: 3px;
  margin-bottom: 2rem;
  box-shadow: 0 5px 10px -5px var(--box-shadow-color),
    0 -1px 10px -5px var(--box-shadow-color);
}

.country {
  display: flex;
}

.country_flag {
  width: 50%;
}

.country_information {
  margin-left: 4rem;
  color: var(--text-color);
}

.country_details {
  display: flex;
}

.country_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list_item {
  margin-bottom: 0.5rem;
}

.country_list:nth-child(2) {
  margin-left: 3rem;
}

@media (max-width: 1024px) {
  .country {
    flex-direction: column;
  }

  .country_flag {
    width: 100%;
    margin-bottom: 2rem;
  }

  .country_details {
    flex-direction: column;
  }
  .country_list:nth-child(2) {
    margin-top: 2rem;
    margin-left: 0;
  }

  .country_information {
    margin-left: 0;
  }
}

.back-button_arrow {
  color: var(--text-color);
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.border-countries_button {
  display: inline-block;
  color: var(--text-color);
  text-decoration: none;
  background-color: var(--element-color);
  padding: 0.5rem 2rem;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0 5px 10px -5px var(--box-shadow-color),
    0 -1px 10px -5px var(--box-shadow-color);
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.border-countries {
  margin-top: 2rem;
}
