<div class="container">
  <a class="back-button" routerLink="/"
    ><svg
      class="back-button_arrow"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M7 16l-4-4m0 0l4-4m-4 4h18"
      ></path>
    </svg>
    Back</a
  >
  <div class="country">
    <img class="country_flag" [alt]="country.name" [src]="country.flag" />
    <div class="country_information">
      <h1>{{ country.name }}</h1>
      <div class="country_details">
        <ul class="country_list">
          <li class="list_item">
            <strong>Native name: </strong>{{ country.nativeName }}
          </li>
          <li class="list_item">
            <strong>Population: </strong>{{ country.population }}
          </li>
          <li class="list_item">
            <strong>Region: </strong>{{ country.region }}
          </li>
          <li class="list_item">
            <strong>Sub Region: </strong>{{ country.subregion }}
          </li>
          <li class="list_item">
            <strong>Capital: </strong>{{ country.capital }}
          </li>
        </ul>
        <ul class="country_list">
          <li class="list_item">
            <strong>Top Level Domain: </strong>{{ country.topLevelDomain }}
          </li>
          <li class="list_item">
            <strong>Currencies: </strong>

            {{ country.currencies | join: "name" }}
          </li>
          <li class="list_item">
            <strong>Languages: </strong>

            {{ country.languages | join: "name" }}
          </li>
        </ul>
      </div>
      <div [hidden]="country.borders.length == 0" class="border-countries">
        <p><strong>Border Countries: </strong></p>
        <a
          *ngFor="let borderCountry of country.borders"
          class="border-countries_button"
          [routerLink]="['/countries/', borderCountry]"
        >
          {{ borderCountry }}
        </a>
      </div>
    </div>
  </div>
</div>
