$background-color: hsl(0, 0%, 98%);
$background-color-dark: hsl(207, 26%, 17%);

$text-color: hsl(200, 15%, 8%);
$text-color-dark: hsl(0, 0%, 100%);

$element-color: hsl(0, 0%, 100%);
$element-color-dark: hsl(209, 23%, 22%);

$box-shadow: hsl(0, 0%, 93%);
$box-shadow-dark: transparent;
$input-color: hsl(0, 0%, 52%);

$colors: (
  --background-color: (
    $background-color,
    $background-color-dark,
  ),
  --text-color: (
    $text-color,
    $text-color-dark,
  ),
  --element-color: (
    $element-color,
    $element-color-dark,
  ),
  --box-shadow-color: (
    $box-shadow,
    $box-shadow-dark,
  ),
);
