.search_input {
  background-color: var(--element-color);

  color: var(--text-color);
  border: 0;
  padding: 1.2rem 3rem;
  border-radius: 6px;
  width: 100%;
  font-family: inherit;
  box-shadow: 0 5px 10px -5px var(--box-shadow-color),
    0 -1px 10px -5px var(--box-shadow-color);
}

.search_label {
  position: absolute;
  top: 1.1rem;
  left: 1rem;
}

.search {
  height: 3.5rem;

  position: relative;
}

.search_icon {
  width: 20px;
  height: 20px;
  color: var(--text-color);
}

::placeholder {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 600;
}
