<div class="search">
  <label class="search_label"
    ><svg
      class="search_icon"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
      ></path>
    </svg>
  </label>
  <input
    type="text"
    class="search_input"
    [formControl]="query"
    placeholder="Search for a country..."
  />
</div>
