.dropdown {
  background-color: var(--element-color);

  color: var(--text-color);
  font-size: 14px;
  border-radius: 6px;

  height: 3.5rem;
  font-family: inherit;
  font-weight: 600;
  padding: 1.2rem;
  box-shadow: 0 5px 10px -5px var(--box-shadow-color),
    0 -1px 10px -5px var(--box-shadow-color);
  border: 0;
}

.dropdown_option {
  color: var(--text-color);
  font-size: 14px;
  font-family: inherit;
  font-weight: 600;
  border-radius: 6px;
}

.container {
}

@media (max-width: 480px) {
  .container {
    margin-top: 1rem;
  }
}
