<div class="container">
  <select [formControl]="region" class="dropdown">
    <option class="dropdown_option" [ngValue]="null">Filter by Region</option>
    <option
      class="dropdown_option"
      *ngFor="let region of regions"
      [value]="region"
    >
      {{ region }}
    </option>
  </select>
</div>
