<div class="card">
  <img class="card_image" src="{{ country.flag }}" />

  <div class="card_content">
    <div class="card_header">
      <h2 class="card_title">
        <a [routerLink]="['/countries', country.alpha3Code]">{{
          country.name
        }}</a>
      </h2>
    </div>
    <div class="card_body">
      <ul class="list">
        <li class="list_item">
          <strong>Population: </strong>{{ country.population }}
        </li>
        <li class="list_item"><strong>Region: </strong>{{ country.region }}</li>
        <li class="list_item">
          <strong>Capital: </strong>{{ country.capital }}
        </li>
      </ul>
    </div>
  </div>
</div>
