.card {
  background-color: var(--element-color);
  color: var(--text-color);
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 5px 10px -5px var(--box-shadow-color),
    0 -1px 10px -5px var(--box-shadow-color);
}
.card_content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.card_title {
  margin: 0;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.card_title a {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.list_item {
  margin-bottom: 0.5rem;
}

.card_image {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 42rem) {
  .card {
    margin-bottom: 4rem;
  }
}
